<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Features</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
<div class="global-style">

    <h1 class="page-heading">Test Features</h1>
    <div class="divider"></div>

    <div class="form">

        <form class="login-form">


            <button type="button" onclick="window.location='countdown/countdown.html';">test countdown</button>
            <button type="button" onclick="window.location='user-logins/user-logins.html';">test user logins</button>
            <button type="button" onclick="window.location='add-deck/functionTesting.html';">Convert CSV to XML Deck</button>


        </form>

    </div>

</div>
</body>
</html>


