<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Features</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
<div class="login-page">

    <h1 class="page-heading">Test Features</h1>
    <div class="divider"></div>

    <div class="form">

        <form class="login-form">


            <button type="button" onclick="window.location='countdown.html';">test countdown</button>


        </form>

    </div>

</div>
</body>
</html>


