<!DOCTYPE html>
<html>
	<body>
		<br>
		<h1 align = "center">Test Functions Page!</h1>
		<br>
	
		
		<h2 align = "center">Upload csv file</h2>
		

		<div align = "center">
			<form enctype="multipart/form-data" action="../../../controllers/tests/add-deck/convertCsv.php" method="POST">
				Choose a file to upload: <input name="csv-file" type="file" /><br />
				<input type="submit" value="Upload File" />
			</form>
		</div>


		<h2 align = "center">
			<a href="deckView.php">Choose Deck</a>
		</h2>


	</body>	
	
</html>