<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Features</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <script src="countdown.js"></script>
</head>

<body>
<div class="global-style">

    <h1 class="page-heading">Test Countdown</h1>
    <div class="divider"></div>

    <div class="form">

        <form action="../../../controllers/tests/countdown/processAnswer.php" method="post">

            <input type="text" name="suppliedAnswer"/>
            <button type="submit">check answer</button>
            <input type = "text"  id="seconds" background="#4CAF50" style="text-align:center;" name="secondsRemaining" >


        </form>




    <script>
        countdown();
    </script>

</div>
</div>
</body>
</html>


